<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>

    <nav id="topMenu">
        <ul>
            <li>
                <a href="/" title="Forside">Forside</a>
            </li>
            <li>
                <a href="/Kunder" title="Kunder">Kunder</a>
            </li>
            <li>
                <a href="/Maskintyper" title="Maskintyper">Maskintyper</a>
            </li>
            <li>
                <a href="/Ansatte" title="Ansatte">Ansatte</a>
            </li>
        </ul>        
    </nav>

    <main>
        @RenderBody()
    </main>

</body>
</html>